// about2

.about2 {
    background-image: url("../../../lib/image/background_1.png");
    background-size: 100% 100%;

    @media screen {
        height: auto!important;
    }
}

.title2 {
    width: 750px;
    margin-left: auto;
    text-align: start;
    margin-right: auto;
    line-height: 100px;
    color: #FFE600;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
    font-size: 50px;

    @media screen and (max-width: 800px){
        width: 100%;
        text-align: center;
    }
}

.members {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-device-width: 800px){
        width: 100%;
    }
}

.profile {
    width: 300px;

    @media screen and (max-device-width: 630px){
        width: 150px;
    }

    img {
        height: 150px;
        border-radius: 100%;
    }

    h2 {
        line-height: 10px;
        font-weight: bold;
        color: #FFFFFF;
    }
    
    h3 {
        line-height: 0;
        color: #FFFFFF;
    }
}