// about

.title1 {
    color: #FFE600;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333;
    line-height: 200px;
    font-size: 100px;

    @media screen and (max-device-width: 800px){
    font-size: 50px;
    line-height: 100px;
    }
}

.aboutSSR {
    font-size: 50px;
    line-height: 100px;
    color: #FFFFFF;

    @media screen and (max-device-width: 800px){
        font-size: 30px;
        line-height: 50px;
    }

    @media screen and (max-device-width: 450px){
        font-size: 18px;
        line-height: 30px;
    }
}

