* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #595959;
}

html,
h1,
h2,
h3,
span,
li,
button {
  font: {
    family: Arial;
    font-style: normal;
  }
}

.section {
  text-align: center;
}

.fp-controlArrow {
  @media screen and (max-device-width: 830px) {
    display: none;
  }
}

.active a {
  text-decoration: underline;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff !important;
}
