* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #595959;
}


html,
h1,
h2,
h3,
span,
li,
button {
    font: {
        family: Arial;
        font-style: normal;
    }
}

.section {
    text-align: center;
}

.fp-controlArrow {
    @media screen and (max-device-width: 830px){
        display: none;
    }
}

.active a {
    text-decoration: underline;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}