@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background-color: #272727;
  background-image: url(lib/image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  text-align: center;
}

.fp-controlArrow {
  @media screen and (max-device-width: 830px) {
    display: none;
  }
}

.active a {
  text-decoration: underline;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #ffffff !important;
}
